@import "../body";

.sec-Services{
    padding:$section-padding-v $section-padding-h ;
   
    .Services{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 60px 40px;
        padding: 70px 0;
        .Service{
            position: relative;
            // border: 1px black solid;
        h1{
            @include  General-h ;
            font-weight:600 ;
        }
        
        a{
            position: absolute;
            bottom: 0;
            margin-bottom: 0;
        }
        h2{
        color: $Basic-color-3;
        font-weight:600 ;
        padding-top:20px ;
    }
    }

    }
}