@import "../body";

.sec-setUp{
    padding:$section-padding-v $section-padding-h ;
    .grid-3{
        h1{
            @include  General-h  ;
            font-size: 80px;
        }
        h2{
            @include  General-h  ;
            font-size: 40px;
        }
    }
    .benefits{
        .benefit{
            border: 1px solid #707070;
            border-radius: 30px;
            padding:20px;
        h1{
        @include  General-h  ;
        font-size: 40px;
    }
    
    h2{
        @include  General-h  ;
        font-size: 20px;
    }
}
    }
}
// ****************************************
